body {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #d3d3d3;
}
.all-btn {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  width: 30rem;
  height: 20rem;
}

.timer {
  font-size: 10rem;
  font-family: sans-serif;
  font-weight: bold;
}

.worktext {
  font-size: 3rem;
}

.resttext {
  font-size: 3rem;
}

.ready {
  font-size: 10rem;
}

.finish {
  font-size: 4rem;
}

.interact--btns {
  background-color: red;
  font-size: 3rem;
  margin: 1rem;
  border-radius: 0.5rem;
  font-weight: bold;
  border-radius: 0.5rem;
  height: 5rem;
  width: 5rem;
}

.hidden {
  display: none;
}

.show {
  display: block;
}

.show-turns {
  font-size: 4rem;
  font-family: sans-serif;
}

.of {
  font-size: 2rem;
  grid-row: 3 / 4;
  grid-column: 1 / 9;
}

.turns {
  grid-column: 4 / 6;
  grid-row: 2 / 3;
  place-self: center;
}

.turn {
  grid-column: 4 / 6;
  grid-row: 7 / 8;
  place-self: center;
}

.start {
  grid-column: 3 /5;
}

.reset {
  grid-column: 5 / 7;
}

.less--turns {
  grid-column: 2 / 3;
  grid-row: 1;
  font-size: 2rem;
}

.more--turns {
  grid-column: 7 / 8;
  grid-row: 1;
  font-size: 2rem;
}
