* {
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: #000000b1;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: auto;
  justify-items: center;
  align-items: center;
}

/* .timer {
  font-size: 5rem;
  font-family: sans-serif;
  font-weight: bold;
  grid-column: 1 / -1;
  text-align: center;
} */

.worktext,
.resttext {
  font-size: 4rem;
  font-weight: bold;
  grid-column: 1 / -1;
  grid-row: 1 / 3;
  align-items: start;
  margin-bottom: 5rem;
}
.cirkel {
  border: solid;
  border-radius: 99rem;
  width: 15rem;
  height: 15rem;
  grid-column: 1 / -1;
  grid-row: 1 / 3;
  display: flex;
  justify-content: center;
  align-items: end;
}
.ready,
.timer {
  font-size: 8rem;
  border-radius: 99rem;
}

.finish {
  font-size: 3rem;
  grid-column: 1 / -1;
  text-align: center;
}

/* Button Styling */
.interact--btns {
  background-color: rgba(0, 0, 0, 0.629);
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-weight: bold;
  height: 3rem;
  width: 3rem;
  border-style: none;
}

/* Show and Turn Elements */

.turns {
  grid-column: 1 / -1;
  grid-row: 3 / 4;
  font-size: 6rem;
}

.turn {
  font-size: 6rem;
  grid-column: 1 / -1;
  grid-row: 5 / 6;
  align-self: start;
}

.of {
  font-size: 4rem;
  grid-column: 1 / -1;
  grid-row: 4 / 5;
  place-self: center;
  align-self: flex-start;
}

.start {
  background-color: rgb(105, 175, 1);
  grid-column: 1 /4;
  grid-row: 2 / 4;
  width: 6rem;
  height: 6rem;
  border-radius: 99rem;
  place-self: center;
}

.reset {
  background-color: crimson;
  grid-column: 6 /-1;
  grid-row: 2 / 4;
  width: 6rem;
  height: 6rem;
  border-radius: 99rem;
  place-self: center;
}
.icons {
  height: 5rem;
}
.less--turns {
  background-color: rgba(72, 70, 70, 0.612);
  grid-column: 1 / 4;
  grid-row: 5/6;
  height: 6rem;
  align-self: start;
}

.more--turns {
  background-color: rgba(72, 70, 70, 0.612);
  grid-column: 6 / -1;
  grid-row: 5 / 6;
  height: 6rem;
  align-self: start;
}
.all-btn {
  gap: 5px;
}

.choose-work {
  grid-column: 1 / 5;
  grid-row: 6 / 7;
  width: 6rem;
  height: 3rem;
  background-color: black;
  color: white;
}

.choose-rest {
  grid-column: 5 / -1;
  grid-row: 6 / 7;
  width: 6rem;
  height: 3rem;
  background-color: black;
  color: white;
}
.popup--work {
  grid-column: 2 /4;
}
.popup--rest {
  grid-column: 6/8;
}

button {
  color: black;
  text-decoration: none;
  margin: 0.5rem;
  width: 5rem;
  height: 3rem;
}
.hidden {
  display: none;
}
.assetbtn {
  background-color: #000000b1;
  display: flex;
  flex-direction: column;
}

.btn {
  background-color: black;
  color: white;
  border-style: none;
  border-radius: 0.5rem;
  font-family: sans-serif;
  font-weight: bold;
}

@media (min-width: 1000px) {
  .timer {
    font-size: 6rem;
  }
  .worktext,
  .resttext {
    font-size: 3rem;
  }
  .ready {
    font-size: 8rem;
  }
  .finish {
    font-size: 4rem;
  }
}
